@font-face {
  font-family: iconfont;

  /* Project id  */
  src: url('/KHTeka-Medium.woff2') format('woff2');
}
.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
